fastapi==0.115.2
pydantic==2.9.2
pydantic-settings==2.6.0
uvicorn==0.22.0
sqlalchemy[asyncio]==2.0.36
starlette==0.40.0
httpx==0.24.1
python-dateutil~=2.9.0.post0
git+https://github.com/mouralucas/rolf_common.git@main#egg=rolf_common

#Database
asyncpg==0.29.0
alembic==1.13.3
aiosqlite==0.20.0

# tests
pytest==7.3.1
pytest-asyncio==0.21.0

# Service registration
py_eureka_client==0.11.10